#share-cart-addon-div {
  padding: 0 0 16px 16px;
  flex-direction: row;
  display: flex;
  gap: 10px;
}

#share-cart-addon-div img {
  width: 24px;
  height: 24px;
  padding-left: 10px;
}

#share-cart-addon-button {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: .875rem;
  border: 1px solid #008673;
  border-radius: 2px;
  background: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #008673;
  cursor: pointer;
}

#share-cart-addon-button:disabled {
  border-color: #505050;
  color: #505050;
  cursor: not-allowed;
}

#share-cart-addon-button i {
  display: none;
  padding-right: 10px;
}

#share-cart-addon-button:disabled i {
  display: flex;
}

#share-cart-addon-button-load {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: .875rem;
  border: 1px solid #008673;
  border-radius: 2px;
  background: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #008673;
  cursor: pointer;
}

#share-cart-addon-panel {
  resize: horizontal;
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 30rem;
  bottom: 1rem;
  z-index: 99999;
  border-radius: 1rem;
  backdrop-filter: blur(15px);
  border: 1px solid #008673;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 15px;
}

#share-cart-addon-panel[hidden] {
  display: none !important;
}

#share-cart-addon-panel #userId {
  display: flex;
  flex: 1;
}

#share-cart-addon-panel #controls {
  margin: .5rem .5rem 0;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

#share-cart-addon-panel #info {
  padding: .5rem;
}

#share-cart-addon-panel #controls :is(a, label) {
  margin: .4rem;
  cursor: pointer;
  display: flex;
}

#share-cart-addon-panel #koszyki {
  overflow: auto;
  padding: 1rem 0.8rem 0rem 0.8rem;
}

#koszyki .main {
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 0px 0px 15px 0;
}

#koszyki .delete {
  align-items: center;
  display: flex;
  padding-right: 0.7rem;
}

#koszyki .item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 2px 0px 0px 0px;
  padding: 0 1rem;
}

#koszyki .item a {
  color: #29ad98;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

#koszyki .price-total {
  border-top: 2px dashed #008673;
  justify-content: flex-end;
  display: flex;
  margin: 2px 1rem;
}

#koszyki .top-row {
  display: flex;
  justify-content: space-between;
  padding: 0rem .5rem;
  border-radius: 8px 8px 0 0;
}

#koszyki .bottom-menu {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

#koszyki .bottom-menu div {
  flex: 1;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

#share-cart-loader {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 99999;
  align-items: center;
  justify-content: center;
}

#share-cart-loader .spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, .3);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: relative;
  left: 50%;
  top: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}